body {
  background-image: url("https://t4.ftcdn.net/jpg/04/41/63/91/360_F_441639148_kToerH2LGAMcYAyZb2u31xPyhzE0CqRZ.jpg");
  background-color: hsl(213, 85%, 92%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

h1{
  color: rgb(124, 22, 22);
}

h3{
  color: brown;
}

#myCanvas2 {
  border: 1px solid black;
  border-radius: 30px;
}


